* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

:root {
    font-size: 62.5% /*10px*/;
}

body {
    background: #ECE9FD;

    padding: 60px 23px 66px;

    font-size: 1.6rem;
}

h1 {
    font-family: 'Epilogue', sans-serif;
    font-size: 4.0rem;
    line-height: 4.0rem;
}