@charset "UTF-8"; 

@font-face {
    font-family: 'IDroid';
    src: url('fontes/IDroid.otf');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 0, 0.384);
}


header {
    background-image: linear-gradient(to bottom, #51A978, #1E693F, #0c4123);
    background-attachment: fixed;
    padding: 10px;
    margin: 0px;
    border: 1px solid rgba(128, 128, 128, 0.753);
}


nav {
    padding: 20px 10px;
}

header > p {
    color: white;
    text-align: center;
}

p {
    text-align: justify;
}

nav > a{ 
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: right;
    margin-left: 10px;
}

nav > a:hover {
    background-color: #51A978;
}

h1#curios {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'IDroid';
    color: #1a5c39;
    font-size: 30px;
}

h2 {
    background-color: #84e1ac2c;
    font-family: 'IDroid';
    color: #1a5c39;
}

main {
    background-color: white;
    margin: 0px 50px 20px 50px;
    padding: 10px 20px;
    border: 1px solid rgba(128, 128, 128, 0.753); 
    border-radius: 0px 0px 20px 20px;
}


img {
    padding: 10px 50px 10px 50px;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 906px;
    height: 506px; 
    padding: 0px 20px 0px 20px; 
}

aside {
    border: 10px solid #1E693F;
}

article#extra  {
    background-color: #c5ebd6;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}


h3#aprender {
    color: white;
    background-color: #2fa866;
    margin: 0px;
    padding: 20px;
    border: 10px;
    border-radius: 20px 20px 0px 0px;
}

footer {
    background-color: #1a5c39;
    text-align: center;
    padding: 1px;
    margin: 0px; 
}

footer > p{
    text-align: center;
    color: white;
}